.addEntry {
  margin-top: $l-size;
  display: flex;
  // justify-content: space-between;
}

.addEntry__input {
  flex-grow: 1;
  margin: 0 $s-size;
  text-indent: $s-size;
  outline: none;
  border: none;
  border-radius: 2px;
}